body {
  font-family: "Poppins", sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
}

.admin .container {
  background-color: #f0e4d3;
  border-radius: 1.25rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  max-width: 80%;
  padding: 0.625rem 1.875rem;
}

.admin .title {
  text-align: center;
  color: #896c6c;
  font-size: 2.5rem;
  font-weight: 700;
}

.search-box {
  position: relative;
  width: 50%;
  margin: 0 auto;
}

#searchInput {
  width: 100%;
  padding: 10px 40px;
  border: 1px solid #896c6c;
  border-radius: 30px;
  font-size: 16px;
  transition: all 0.3s ease;
}

#searchBtn {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  font-size: 18px;
  cursor: pointer;
}

#searchInput:focus {
  border-color: #9a3f3f;
  box-shadow: 0 0 5px rgba(255, 87, 34, 0.5);
  outline: none;
}

#productsTable {
  text-align: center;
  box-shadow: 0 0 10pxrgba (0, 0, 0, 0.5);
}

#productsTable thead th {
  background-color: #9a3f3f;
  color: #f0e4d3;
  text-align: center;
  border: 1px solid #ddd;
  padding: 0.9375rem 0.3125rem;
}

#productsTable tbody td {
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f5fae1;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 40px;
}

#prevBtn,
#nextBtn {
  background-color: #9a3f3f;
  color: #ddd;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.625rem;
  font-weight: 700;
  transition: all 0.3s ease;
  border: none;
}

#prevBtn:hover,
#nextBtn:hover {
  background-color: #896c6cb0;
}

.actionBtn {
  cursor: pointer;
}
